@tailwind base;
@tailwind components;
@tailwind utilities;


.style-bg{
  background-image: url("https://i.ibb.co/jDTS2yG/ndul190200033.webp");
  height: 450px;
  
}

p{
text-align: justify; 
}

.btn-style{
  border:1px solid #666699;
  padding: 10px;
  border-radius: 20px;
  
}

.btn-style:hover{
  background-color: #666699;
  color:white
}

.tir-style{
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
.tir-style:hover{
  background-color:#666699 ;
}

.navbar{
  border-bottom: 1px solid #a6a6d8;
}